.MenuContainer__MenuWrapper-blwEAZ {
  display: none;
}

#zse-buttons>button {
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 75px !important;
  min-width: 55px !important;
  width: 75px !important;
}
